
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: #F0AD4E;
}

.card {
    .text-in-card {
        font-size: 16px;
    }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 600px;
  text-align: center;
}
.error p {
  font-size:30px
}

form {
  .col-1 {
    display: flex;
    align-items: center;
  }
  .col-2 {
    display: flex;
    align-items: center;
  }
}